-
	var
		html_class = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700,900",
		subscribeFormCounter = 0,
		logo = {
			default: 'logo-424x107.png',
			inverse: 'logo-inverse-123x57.png',
			inverseBig: 'logo-inverse-145x39.png',
			white: 'logo-inverse-219x69',
			name: 'Kinderex'
		},
		links = {
			post: 'blog-post.html',
			getTemplate:'#get-template'
		},
		colors = {
			primary: '#03a9f4',
			orange: '#ffa726',
			green: '#8bc34a',
			red: '#f44336'
		},
		menu = [
			{
				title: 'Home',
				category: 'home',
				link: '#home'
			},
			{
				title: 'About',
				link: '#about'
			},
			{
				title: 'Programs',
				link: '#programs'
			},
			{
				title: 'Team',
				link: '#team'
			},
			{
				title: 'FAQ',
				link: '#faq'
			},
			{
				title: 'Pricing',
				link: '#pricing'
			},
			{
				title: 'Contacts',
				link: '#contacts'
			}
		];
